.dropdown:hover .dropdown-menu {
    display: block;
}

.carousel-item {
    height: 400px;
    overflow: hidden;
}

img.d-block.w-100 {
    height: 100%;
}

.font {
    width: 100%;
    text-transform: uppercase;
}
.product-group {
    margin-right: 10PX;
}
.body{
    background-image: url("uploads/background.jpeg");
}

